In [1]:
import pandas as pd

### HR ANALYTICS(FAKTOR FAKTOR YANG MEMPENGARUHI PENGUNDURAN DIRI KARYAWAN)

#Data Understanding

## Membaca Data

In [2]:
file_path = "/content/HR_Analytics.csv"

df = pd.read_csv(file_path)
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

## Pengecekan Struktur Data

### Menampilkan 5 baris pertama

In [3]:
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

### Menampilkan 5 baris terakhir

In [4]:
df.tail()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

### Menampilkan Ringkasan Informasi Dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1480 entries, 0 to 1479
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   EmpID                     1480 non-null   object
 1   Age                       1480 non-null   int64
 2   AgeGroup                  1480 non-null   object
 3   Attrition                 1480 non-null   object
 4   BusinessTravel            1480 non-null   object
 5   DailyRate                 1480 non-null   int64
 6   Department                1480 non-null   object
 7   DistanceFromHome          1480 non-null   int64
 8   Education                 1480 non-null   int64
 9   EducationField            1480 non-null   object
 10  EmployeeCount             1480 non-null   int64
 11  EmployeeNumber            1480 non-null   int64
 12  EnvironmentSatisfaction   1480 non-null   int64
 13  Gender                    1480 non-null   object
 14  HourlyRate                1480 non-null   int64
 15  JobInvolvement            1480 non-null   int64
 16  JobLevel                  1480 non-null   int64
 17  JobRole                   1480 non-null   object
 18  JobSatisfaction           1480 non-null   int64
 19  MaritalStatus             1480 non-null   object
 20  MonthlyIncome             1480 non-null   int64
 21  SalarySlab                1480 non-null   object
 22  MonthlyRate               1480 non-null   int64
 23  NumCompaniesWorked        1480 non-null   int64
 24  Over18                    1480 non-null   object
 25  OverTime                  1480 non-null   object
 26  PercentSalaryHike         1480 non-null   int64
 27  PerformanceRating         1480 non-null   int64
 28  RelationshipSatisfaction  1480 non-null   int64
 29  StandardHours             1480 non-null   int64
 30  StockOptionLevel          1480 non-null   int64
 31  TotalWorkingYears         1480 non-null   int64
 32  TrainingTimesLastYear     1480 non-null   int64
 33  WorkLifeBalance           1480 non-null   int64
 34  YearsAtCompany            1480 non-null   int64
 35  YearsInCurrentRole        1480 non-null   int64
 36  YearsSinceLastPromotion   1480 non-null   int64
 37  YearsWithCurrManager      1423 non-null   float64
dtypes: float64(1), int64(25), object(12)
memory usage: 439.5+ KB

### Menampilkan jumlah baris dan kolom dataset

In [8]:
df.shape

(1480, 38)

### Menampilkan tipe data setiap kolom pada dataset

In [9]:
df.dtypes

EmpID                        object
Age                           int64
AgeGroup                     object
Attrition                    object
BusinessTravel               object
DailyRate                     int64
Department                   object
DistanceFromHome              int64
Education                     int64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction       int64
Gender                       object
HourlyRate                    int64
JobInvolvement                int64
JobLevel                      int64
JobRole                      object
JobSatisfaction               int64
MaritalStatus                object
MonthlyIncome                 int64
SalarySlab                   object
MonthlyRate                   int64
NumCompaniesWorked            int64
Over18                       object
OverTime                     object
PercentSalaryHike             int64
PerformanceRating             int64
RelationshipSatisfaction      int64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears             int64
TrainingTimesLastYear         int64
WorkLifeBalance               int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrManager        float64
dtype: object

### Menampilkan statistik deskriptif dataset

In [10]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1480.000000,1480.000000,1480.000000,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,...,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1423.000000
mean,36.917568,801.384459,9.220270,2.910811,1.0,1031.860811,2.724324,65.845270,2.729730,2.064865,...,2.708784,80.0,0.791892,11.281757,2.797973,2.760811,7.009459,4.228378,2.182432,4.118060
std,9.128559,403.126988,8.131201,1.023796,0.0,605.955046,1.092579,20.328266,0.713007,1.105574,...,1.081995,0.0,0.850527,7.770870,1.288791,0.707024,6.117945,3.616020,3.219357,3.555484
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,493.750000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,800.000000,7.000000,3.000000,1.0,1027.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1568.250000,4.000000,83.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

### Analisis korelasi yang relevan pada dataset

In [13]:
print(df.corr(numeric_only=True))

                               Age  DailyRate  DistanceFromHome  Education  \
Age                       1.000000   0.011584         -0.000329   0.205689
DailyRate                 0.011584   1.000000         -0.007134  -0.016750
DistanceFromHome         -0.000329  -0.007134          1.000000   0.019661
Education                 0.205689  -0.016750          0.019661   1.000000
EmployeeCount                  NaN        NaN               NaN        NaN
EmployeeNumber           -0.011181  -0.054996          0.038137   0.038020
EnvironmentSatisfaction   0.011617   0.019176         -0.013633  -0.026831
HourlyRate                0.022704   0.021349          0.027899   0.019446
JobInvolvement            0.026804   0.043964          0.006427   0.042908
JobLevel                  0.509758   0.001940          0.007360   0.097107
JobSatisfaction          -0.005269   0.034562         -0.004244  -0.012740
MonthlyIncome             0.497486   0.005963         -0.015817   0.092182
MonthlyRate               0.029529  -0.028730          0.025782  -0.026779
NumCompaniesWorked        0.300739   0.038991         -0.028873   0.125433
PercentSalaryHike         0.000864   0.021772          0.036682  -0.009984
PerformanceRating         0.000146  -0.001379          0.024221  -0.023366
RelationshipSatisfaction  0.053632   0.012214          0.002762  -0.005762
StandardHours                  NaN        NaN               NaN        NaN
StockOptionLevel          0.038545   0.042097          0.045153   0.016717
TotalWorkingYears         0.680837   0.015036          0.007802   0.145258
TrainingTimesLastYear    -0.016819   0.004297         -0.035882  -0.026476
WorkLifeBalance          -0.021704  -0.037683         -0.030581   0.008806
YearsAtCompany            0.310550  -0.033737          0.010111   0.065983
YearsInCurrentRole        0.213330   0.010452          0.018593   0.057557
YearsSinceLastPromotion   0.216755  -0.032439          0.011817   0.051507
YearsWithCurrManager      0.209987  -0.022281          0.010849   0.068713

                          EmployeeCount  EmployeeNumber  \
Age                                 NaN       -0.011181
DailyRate                           NaN       -0.054996
DistanceFromHome                    NaN        0.038137
Education                           NaN        0.038020
EmployeeCount                       NaN             NaN
EmployeeNumber                      NaN        1.000000
EnvironmentSatisfaction             NaN        0.021359
HourlyRate                          NaN        0.030896
JobInvolvement                      NaN       -0.007231
JobLevel                            NaN       -0.016891
JobSatisfaction                     NaN       -0.051062
MonthlyIncome                       NaN       -0.013928
MonthlyRate                         NaN        0.008998
NumCompaniesWorked                  NaN       -0.005340
PercentSalaryHike                   NaN       -0.012501
PerformanceRating                   NaN       -0.021808
RelationshipSatisfaction            NaN       -0.074316
StandardHours                       NaN             NaN
StockOptionLevel                    NaN        0.057548
TotalWorkingYears                   NaN       -0.013731
TrainingTimesLastYear               NaN        0.021525
WorkLifeBalance                     NaN        0.009202
YearsAtCompany                      NaN       -0.010756
YearsInCurrentRole                  NaN       -0.008735
YearsSinceLastPromotion             NaN       -0.011731
YearsWithCurrManager                NaN       -0.009781

                          EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
Age                                      0.011617    0.022704        0.026804
DailyRate                                0.019176    0.021349        0.043964
DistanceFromHome                        -0.013633    0.027899        0.006427
Education                               -0.026831    0.019446        0.042908
EmployeeCount                                 NaN         NaN             NaN
EmployeeNumber                           0.021359    0.030896       -0.007231
EnvironmentSatisfaction                  1.000000   -0.053826       -0.013254
HourlyRate                              -0.053826    1.000000        0.046327
JobInvolvement                          -0.013254    0.046327        1.000000
JobLevel                                 0.000260   -0.028585       -0.013770
JobSatisfaction                         -0.010201   -0.070670       -0.018036
MonthlyIncome                           -0.006913   -0.015981       -0.017496
MonthlyRate                              0.040251   -0.018883       -0.019553
NumCompaniesWorked                       0.013240    0.021169        0.015537
PercentSalaryHike                       -0.032042   -0.008834       -0.014514
PerformanceRating                       -0.031625    0.000750       -0.025382
RelationshipSatisfaction                 0.009256    0.000071        0.032878
StandardHours                                 NaN         NaN             NaN
StockOptionLevel                         0.002250    0.049756        0.022028
TotalWorkingYears                       -0.002472   -0.004128       -0.007114
TrainingTimesLastYear                   -0.016531   -0.010846       -0.018256
WorkLifeBalance                          0.024867   -0.004835       -0.008954
YearsAtCompany                          -0.000318   -0.018848       -0.022974
YearsInCurrentRole                       0.017658   -0.023756        0.005862
YearsSinceLastPromotion                  0.013731   -0.026131       -0.025929
YearsWithCurrManager                     0.003072   -0.003166        0.037990

                          JobLevel  ...  RelationshipSatisfaction  \
Age                       0.509758  ...                  0.053632
DailyRate                 0.001940  ...                  0.012214
DistanceFromHome          0.007360  ...                  0.002762
Education                 0.097107  ...                 -0.005762
EmployeeCount                  NaN  ...                       NaN
EmployeeNumber           -0.016891  ...                 -0.074316
EnvironmentSatisfaction   0.000260  ...                  0.009256
HourlyRate               -0.028585  ...                  0.000071
JobInvolvement           -0.013770  ...                  0.032878
JobLevel                  1.000000  ...                  0.018063
JobSatisfaction          -0.001440  ...                 -0.009918
MonthlyIncome             0.949835  ...                  0.022757
MonthlyRate               0.039256  ...                 -0.001620
NumCompaniesWorked        0.142472  ...                  0.053158
PercentSalaryHike        -0.036669  ...                 -0.038197
PerformanceRating        -0.021588  ...                 -0.031020
RelationshipSatisfaction  0.018063  ...                  1.000000
StandardHours                  NaN  ...                       NaN
StockOptionLevel          0.015803  ...                 -0.046063
TotalWorkingYears         0.781880  ...                  0.023918
TrainingTimesLastYear    -0.017370  ...                  0.001904
WorkLifeBalance           0.038027  ...                  0.018481
YearsAtCompany            0.535210  ...                  0.017678
YearsInCurrentRole        0.390189  ...                 -0.016516
YearsSinceLastPromotion   0.355518  ...                  0.031373
YearsWithCurrManager      0.371987  ...                 -0.004359

                          StandardHours  StockOptionLevel  TotalWorkingYears  \
Age                                 NaN          0.038545           0.680837
DailyRate                           NaN          0.042097           0.015036
DistanceFromHome                    NaN          0.045153           0.007802
Education                           NaN          0.016717           0.145258
EmployeeCount                       NaN               NaN                NaN
EmployeeNumber                      NaN          0.057548          -0.013731
EnvironmentSatisfaction             NaN          0.002250          -0.002472
HourlyRate                          NaN          0.049756          -0.004128
JobInvolvement                      NaN          0.022028          -0.007114
JobLevel                            NaN          0.015803           0.781880
JobSatisfaction                     NaN          0.012456          -0.018623
MonthlyIncome                       NaN          0.006517           0.771807
MonthlyRate                         NaN         -0.033070           0.026417
NumCompaniesWorked                  NaN          0.032079           0.237728
PercentSalaryHike                   NaN          0.007334          -0.022414
PerformanceRating                   NaN          0.004941           0.005320
RelationshipSatisfaction            NaN         -0.046063           0.023918
StandardHours                       NaN               NaN                NaN
StockOptionLevel                    NaN          1.000000           0.011537
TotalWorkingYears                   NaN          0.011537           1.000000
TrainingTimesLastYear               NaN          0.011581          -0.034820
WorkLifeBalance                     NaN          0.004868           0.000091
YearsAtCompany                      NaN          0.015581           0.627569
YearsInCurrentRole                  NaN          0.051078           0.459987
YearsSinceLastPromotion             NaN          0.016097           0.405426
YearsWithCurrManager                NaN          0.020222           0.458996

                          TrainingTimesLastYear  WorkLifeBalance  \
Age                                   -0.016819        -0.021704
DailyRate                              0.004297        -0.037683
DistanceFromHome                      -0.035882        -0.030581
Education                             -0.026476         0.008806
EmployeeCount                               NaN              NaN
EmployeeNumber                         0.021525         0.009202
EnvironmentSatisfaction               -0.016531         0.024867
HourlyRate                            -0.010846        -0.004835
JobInvolvement                        -0.018256        -0.008954
JobLevel                              -0.017370         0.038027
JobSatisfaction                       -0.006759        -0.017625
MonthlyIncome                         -0.021270         0.030430
MonthlyRate                            0.004872         0.009111
NumCompaniesWorked                    -0.062797        -0.006804
PercentSalaryHike                     -0.007631        -0.001991
PerformanceRating                     -0.019123         0.003438
RelationshipSatisfaction               0.001904         0.018481
StandardHours                               NaN              NaN
StockOptionLevel                       0.011581         0.004868
TotalWorkingYears                     -0.034820         0.000091
TrainingTimesLastYear                  1.000000         0.027813
WorkLifeBalance                        0.027813         1.000000
YearsAtCompany                         0.002815         0.009902
YearsInCurrentRole                    -0.004311         0.047563
YearsSinceLastPromotion               -0.002192         0.007896
YearsWithCurrManager                  -0.006042        -0.002777

                          YearsAtCompany  YearsInCurrentRole  \
Age                             0.310550            0.213330
DailyRate                      -0.033737            0.010452
DistanceFromHome                0.010111            0.018593
Education                       0.065983            0.057557
EmployeeCount                        NaN                 NaN
EmployeeNumber                 -0.010756           -0.008735
EnvironmentSatisfaction        -0.000318            0.017658
HourlyRate                     -0.018848           -0.023756
JobInvolvement                 -0.022974            0.005862
JobLevel                        0.535210            0.390189
JobSatisfaction                -0.001917           -0.001871
MonthlyIncome                   0.514469            0.364422
MonthlyRate                    -0.024907           -0.012644
NumCompaniesWorked             -0.119490           -0.090808
PercentSalaryHike              -0.037217           -0.003326
PerformanceRating               0.003021            0.033798
RelationshipSatisfaction        0.017678           -0.016516
StandardHours                        NaN                 NaN
StockOptionLevel                0.015581            0.051078
TotalWorkingYears               0.627569            0.459987
TrainingTimesLastYear           0.002815           -0.004311
WorkLifeBalance                 0.009902            0.047563
YearsAtCompany                  1.000000            0.758964
YearsInCurrentRole              0.758964            1.000000
YearsSinceLastPromotion         0.619236            0.548418
YearsWithCurrManager            0.764294            0.714728

                          YearsSinceLastPromotion  YearsWithCurrManager
Age                                      0.216755              0.209987
DailyRate                               -0.032439             -0.022281
DistanceFromHome                         0.011817              0.010849
Education                                0.051507              0.068713
EmployeeCount                                 NaN                   NaN
EmployeeNumber                          -0.011731             -0.009781
EnvironmentSatisfaction                  0.013731              0.003072
HourlyRate                              -0.026131             -0.003166
JobInvolvement                          -0.025929              0.037990
JobLevel                                 0.355518              0.371987
JobSatisfaction                         -0.014979             -0.031069
MonthlyIncome                            0.346065              0.343106
MonthlyRate                              0.001412             -0.033110
NumCompaniesWorked                      -0.037012             -0.106000
PercentSalaryHike                       -0.024576             -0.015614
PerformanceRating                        0.017239              0.021320
RelationshipSatisfaction                 0.031373             -0.004359
StandardHours                                 NaN                   NaN
StockOptionLevel                         0.016097              0.020222
TotalWorkingYears                        0.405426              0.458996
TrainingTimesLastYear                   -0.002192             -0.006042
WorkLifeBalance                          0.007896             -0.002777
YearsAtCompany                           0.619236              0.764294
YearsInCurrentRole                       0.548418              0.714728
YearsSinceLastPromotion                  1.000000              0.512005
YearsWithCurrManager                     0.512005              1.000000

[26 rows x 26 columns]

#Data Preparation

## Data Cleaning

### Missing Values

#### Melihat Missing Values

In [16]:
print((df.isna().sum() / len(df)) * 100)

EmpID                       0.000000
Age                         0.000000
AgeGroup                    0.000000
Attrition                   0.000000
BusinessTravel              0.000000
DailyRate                   0.000000
Department                  0.000000
DistanceFromHome            0.000000
Education                   0.000000
EducationField              0.000000
EmployeeCount               0.000000
EmployeeNumber              0.000000
EnvironmentSatisfaction     0.000000
Gender                      0.000000
HourlyRate                  0.000000
JobInvolvement              0.000000
JobLevel                    0.000000
JobRole                     0.000000
JobSatisfaction             0.000000
MaritalStatus               0.000000
MonthlyIncome               0.000000
SalarySlab                  0.000000
MonthlyRate                 0.000000
NumCompaniesWorked          0.000000
Over18                      0.000000
OverTime                    0.000000
PercentSalaryHike           0.000000
PerformanceRating           0.000000
RelationshipSatisfaction    0.000000
StandardHours               0.000000
StockOptionLevel            0.000000
TotalWorkingYears           0.000000
TrainingTimesLastYear       0.000000
WorkLifeBalance             0.000000
YearsAtCompany              0.000000
YearsInCurrentRole          0.000000
YearsSinceLastPromotion     0.000000
YearsWithCurrManager        3.851351
dtype: float64

#### Pengecekan nilai kosong pada kolom YearsWithCurrManager

In [17]:
df[df['YearsWithCurrManager'].isnull()]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
28,RM024,21,18-25,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,...,4,80,0,0,6,3,0,0,0,NaN
31,RM363,21,18-25,No,Non-Travel,895,Sales,9,2,Medical,...,3,80,0,3,3,2,3,2,2,NaN
45,RM207,22,18-25,No,Travel_Rarely,1136,Research & Development,5,3,Life Sciences,...,1,80,1,4,2,2,4,2,2,NaN
99,RM139,25,18-25,No,Travel_Rarely,959,Sales,28,3,Life Sciences,...,4,80,0,6,3,3,2,2,2,NaN
100,RM256,25,18-25,No,Travel_Rarely,685,Research & Development,1,3,Life Sciences,...,4,80,2,5,3,3,4,2,1,NaN
103,RM406,25,18-25,Yes,Travel_Rarely,688,Research & Development,3,3,Medical,...,3,80,1,6,5,3,2,2,0,NaN
222,RM405,28,26-35,No,Travel_Rarely,1300,Research & Development,17,2,Medical,...,4,80,1,10,2,3,10,0,1,NaN
262,RM072,29,26-35,No,Travel_Rarely,1328,Research & Development,2,3,Life Sciences,...,4,80,1,6,3,3,5,4,0,NaN
264,RM206,29,26-35,Yes,Travel_Rarely,121,Sales,27,3,Marketing,...,4,80,3,10,3,2,10,4,1,NaN
268,RM253,29,26-35,No,Travel_Rarely,665,Research & Development,15,3,Life Sciences,...,1,80,0,6,1,3,6,5,1,NaN
269,RM255,29,26-35,No,Travel_Rarely,1247,Sales,20,2,Marketing,...,4,80,1,10,2,3,3,2,0,NaN
329,RM008,30,26-35,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,...,2,80,1,1,2,3,1,0,0,NaN
336,RM140,30,26-35,No,Travel_Rarely,1240,Human Resources,9,3,Human Resources,...,4,80,0,12,2,1,11,9,4,NaN
337,RM144,30,26-35,No,Travel_Rarely,438,Research & Development,18,3,Life Sciences,...,3,80,0,5,4,2,5,4,0,NaN
338,RM146,30,26-35,No,Travel_Rarely,201,Research & Development,5,3,Technical Degree,...,4,80,1,8,3,3,3,2,2,NaN
339,RM147,30,26-35,No,Travel_Rarely,1427,Research & Development,2,1,Medical,...,4,80,0,6,3,3,5,3,1,NaN
391,RM073,31,26-35,No,Travel_Rarely,1082,Research & Development,1,4,Medical,...,2,80,0,1,4,3,1,1,1,NaN
392,RM076,31,26-35,No,Travel_Rarely,746,Research & Development,8,4,Life Sciences,...,4,80,0,11,2,3,11,7,1,NaN
461,RM027,32,26-35,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,...,2,80,0,10,5,3,10,2,6,NaN
463,RM074,32,26-35,No,Travel_Rarely,548,Research & Development,1,3,Life Sciences,...,2,80,2,10,3,3,10,4,0,NaN
466,RM141,32,26-35,Yes,Travel_Rarely,1033,Research & Development,9,3,Medical,...,1,80,0,10,2,4,5,4,0,NaN
467,RM145,32,26-35,No,Travel_Frequently,689,Sales,9,2,Medical,...,4,80,3,9,2,4,8,7,0,NaN
470,RM211,32,26-35,Yes,Travel_Rarely,1045,Sales,4,4,Medical,...,3,80,0,14,2,2,14,8,9,NaN
521,RM031,33,26-35,No,Travel_Rarely,924,Research & Development,2,3,Medical,...,4,80,0,7,3,3,1,1,0,NaN
579,RM023,34,26-35,No,TravelRarely,419,Research & Development,7,4,Life Sciences,...,3,80,0,13,4,3,12,6,2,NaN
580,RM025,34,26-35,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,...,3,80,0,8,2,3,4,2,1,NaN
664,RM077,35,26-35,No,Travel_Rarely,776,Sales,1,4,Marketing,...,2,80,0,16,2,3,15,13,2,NaN
739,RM070,36,36-45,Yes,Travel_Rarely,318,Research & Development,9,3,Medical,...,1,80,1,2,0,2,1,0,0,NaN
740,RM075,36,36-45,No,Travel_Rarely,132,Research & Development,6,3,Life Sciences,...,2,80,0,5,3,3,1,0,0,NaN
745,RM208,36,36-45,No,Travel_Frequently,635,Research & Development,18,1,Medical,...,1,80,0,8,2,3,8,1,1,NaN
751,RM359,36,36-45,No,Non-Travel,845,Sales,1,5,Medical,...,2,80,0,7,6,3,1,0,0,NaN
752,RM360,36,36-45,No,Travel_Frequently,541,Sales,3,4,Medical,...,1,80,1,16,2,3,13,9,1,NaN
814,RM249,37,36-45,No,Travel_Rarely,1017,Research & Development,1,2,Medical,...,1,80,1,17,2,2,3,1,0,NaN
815,RM251,37,36-45,Yes,Travel_Frequently,504,Research & Development,10,3,Medical,...,2,80,2,17,5,3,1,0,0,NaN
854,RM009,38,36-45,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,...,2,80,0,10,2,3,9,7,1,NaN
858,RM143,38,36-45,No,Travel_Rarely,364,Research & Development,3,5,Technical Degree,...,2,80,0,19,2,3,3,2,2,NaN
915,RM252,39,36-45,No,Travel_Frequently,505,Research & Development,2,4,Technical Degree,...,4,80,0,20,1,3,19,6,11,NaN
961,RM209,40,36-45,No,Non-Travel,1151,Research & Development,9,5,Life Sciences,...,4,80,1,5,5,1,3,2,0,NaN
963,RM258,40,36-45,No,Travel_Rarely,1416,Research & Development,2,2,Medical,...,4,80,1,22,5,3,21,7,3,NaN
965,RM362,40,36-45,No,Travel_Rarely,1171,Research & Development,10,4,Life Sciences,...,3,80,1,10,3,3,7,7,1,NaN
1025,RM404,41,36-45,No,Travel_Rarely,645,Sales,1,3,Marketing,...,3,80,1,10,2,3,10,7,0,NaN
1053,RM028,42,36-45,No,Travel_Rarely,691,Sales,8,4,Marketing,...,4,80,1,10,2,3,9,7,4,NaN
1056,RM254,42,36-45,No,Travel_Rarely,916,Research & Development,17,2,Life Sciences,...,3,80,0,10,1,3,3,2,0,NaN
1057,RM257,42,36-45,No,Travel_Rarely,269,Research & Development,2,3,Medical,...,3,80,1,10,4,3,9,6,7,NaN
1131,RM029,44,36-45,No,Travel_Rarely,477,Research & Development,7,4,Medical,...,4,80,1,24,4,3,22,6,5,NaN
1165,RM078,45,36-45,No,Travel_Rarely,193,Research & Development,6,4,Other,...,2,80,0,17,3,4,0,0,0,NaN
1166,RM142,45,36-45,No,Travel_Rarely,1316,Research & Development,29,3,Medical,...,2,80,0,9,2,2,6,5,0,NaN
1172,RM250,45,36-45,No,Travel_Frequently,1199,Research & Development,7,4,Life Sciences,...,4,80,1,9,1,3,3,2,0,NaN
1176,RM408,45,36-45,No,Travel_Rarely,192,Research & Development,10,2,Life Sciences,...,4,80,2,8,3,2,2,2,0,NaN
1205,RM030,46,46-55,No,Travel_Rarely,705,Sales,2,4,Marketing,...,4,80,0,22,2,2,2,2,2,NaN
1211,RM210,46,46-55,No,Travel_Rarely,644,Research & Development,1,4,Medical,...,3,80,1,17,3,3,4,2,0,NaN
1345,RM259,51,46-55,No,Travel_Rarely,833,Research & Development,1,3,Life Sciences,...,2,80,0,1,0,2,1,0,0,NaN
1360,RM407,52,46-55,No,Travel_Rarely,319,Research & Development,3,3,Medical,...,3,80,0,28,4,3,5,4,0,NaN
1375,RM026,53,46-55,No,Travel_Rarely,1282,Research & Development,5,3,Other,...,4,80,1,26,3,2,14,13,4,NaN
1448,RM361,57,55+,No,Travel_Rarely,593,Research & Development,1,4,Medical,...,3,80,0,15,2,3,3,2,1,NaN
1465,RM007,59,55+,No,Travel_Rarely,1324,Research & Development,3,3,Medical,...,1,80,3,12,3,2,1,0,0,NaN
1467,RM071,59,55+,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,...,4,80,0,20,2,2,4,3,1,NaN

###Mengatasi Missing Values

#### Melakukan Imputasi

karena disini data yang hilang dari kolom YearsWithCurrManager sekitar 3,85% maka akan dilakukan imputasi

In [19]:
df['YearsWithCurrManager'].dropna().describe()

count    1423.000000
mean        4.118060
std         3.555484
min         0.000000
25%         2.000000
50%         3.000000
75%         7.000000
max        17.000000
Name: YearsWithCurrManager, dtype: float64

Disini berdasarkan hasil analisis statistik, kita dapat menggunakan mean dari kolom YearsWithCurrManager untuk imputasi nilai kosong tersebut

In [20]:
df['YearsWithCurrManager'] = df['YearsWithCurrManager'].fillna(df['YearsWithCurrManager'].dropna().mean())

In [21]:
pd.DataFrame(df.isna().sum() / len(df) * 100, columns=['Null Ratio %'])

                          Null Ratio %
EmpID                              0.0
Age                                0.0
AgeGroup                           0.0
Attrition                          0.0
BusinessTravel                     0.0
DailyRate                          0.0
Department                         0.0
DistanceFromHome                   0.0
Education                          0.0
EducationField                     0.0
EmployeeCount                      0.0
EmployeeNumber                     0.0
EnvironmentSatisfaction            0.0
Gender                             0.0
HourlyRate                         0.0
JobInvolvement                     0.0
JobLevel                           0.0
JobRole                            0.0
JobSatisfaction                    0.0
MaritalStatus                      0.0
MonthlyIncome                      0.0
SalarySlab                         0.0
MonthlyRate                        0.0
NumCompaniesWorked                 0.0
Over18                             0.0
OverTime                           0.0
PercentSalaryHike                  0.0
PerformanceRating                  0.0
RelationshipSatisfaction           0.0
StandardHours                      0.0
StockOptionLevel                   0.0
TotalWorkingYears                  0.0
TrainingTimesLastYear              0.0
WorkLifeBalance                    0.0
YearsAtCompany                     0.0
YearsInCurrentRole                 0.0
YearsSinceLastPromotion            0.0
YearsWithCurrManager               0.0

### Duplicated Values

In [22]:
df[df.duplicated()]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
211,RM1468,27,26-35,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,...,2,80,1,6,0,3,6,2,0,3.0
328,RM1461,29,26-35,No,Travel_Rarely,468,Research & Development,28,4,Medical,...,2,80,0,5,3,1,5,4,0,4.0
458,RM1464,31,26-35,No,Non-Travel,325,Research & Development,5,3,Medical,...,2,80,0,10,2,3,9,4,1,7.0
655,RM1470,34,26-35,No,TravelRarely,628,Research & Development,8,3,Medical,...,1,80,0,6,3,4,4,3,1,2.0
954,RM1463,39,36-45,No,Travel_Rarely,722,Sales,24,1,Marketing,...,1,80,1,21,2,2,20,9,9,6.0
1305,RM1469,49,46-55,No,Travel_Frequently,1023,Sales,2,3,Medical,...,4,80,0,17,3,2,9,6,0,8.0
1336,RM1462,50,46-55,Yes,Travel_Rarely,410,Sales,28,3,Marketing,...,2,80,1,20,3,3,3,2,2,0.0

In [23]:
df = df.drop_duplicates()

In [24]:
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

### Outliers

#### Pengecekan Outliers

In [25]:
results = []

cols = df.select_dtypes(include=['float64', 'int64'])

for col in cols:
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5*iqr
  upper_bound = q3 + 1.5*iqr
  outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
  percent_outliers = (len(outliers)/len(df))*100
  results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

# Dataframe dari list hasil
results_df = pd.DataFrame(results)
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

# Tampilkan dataframe
display(results_df)

Kolom                     Persentase Outliers
Age                                  0.000000
DailyRate                            0.000000
DistanceFromHome                     0.000000
Education                            0.000000
EmployeeCount                        0.000000
EmployeeNumber                       0.000000
EnvironmentSatisfaction              0.000000
HourlyRate                           0.000000
JobInvolvement                       0.000000
JobLevel                             0.000000
JobSatisfaction                      0.000000
MonthlyIncome                        7.739308
MonthlyRate                          0.000000
NumCompaniesWorked                   3.530210
PercentSalaryHike                    0.000000
PerformanceRating                   15.342838
RelationshipSatisfaction             0.000000
StandardHours                        0.000000
StockOptionLevel                     5.770536
TotalWorkingYears                    4.276986
TrainingTimesLastYear               16.225390
WorkLifeBalance                      0.000000
YearsAtCompany                       7.060421
YearsInCurrentRole                   1.425662
YearsSinceLastPromotion              7.264087
YearsWithCurrManager                 0.882553

#### Melakukan Imputasi

In [ ]:
columns_to_impute = ["YearsWithCurrManager", "YearsSinceLastPromotion", "YearsInCurrentRole", "YearsAtCompany", "TrainingTimesLastYear", "TotalWorkingYears", "StockOptionLevel", "PerformanceRating", "NumCompaniesWorked", "MonthlyIncome"]

for col in columns_to_impute:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Menggunakan .loc[] agar tidak muncul SettingWithCopyWarning
    df.loc[:, col] = df[col].clip(lower=lower_bound, upper=upper_bound)

Melakukan pengecekan ulang

In [27]:
results = []

cols = df.select_dtypes(include=['float64', 'int64'])

for col in cols:
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5*iqr
  upper_bound = q3 + 1.5*iqr
  outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
  percent_outliers = (len(outliers)/len(df))*100
  results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

# Dataframe dari list hasil
results_df = pd.DataFrame(results)
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

# Tampilkan dataframe
display(results_df)

Kolom                     Persentase Outliers
Age                                       0.0
DailyRate                                 0.0
DistanceFromHome                          0.0
Education                                 0.0
EmployeeCount                             0.0
EmployeeNumber                            0.0
EnvironmentSatisfaction                   0.0
HourlyRate                                0.0
JobInvolvement                            0.0
JobLevel                                  0.0
JobSatisfaction                           0.0
MonthlyIncome                             0.0
MonthlyRate                               0.0
NumCompaniesWorked                        0.0
PercentSalaryHike                         0.0
PerformanceRating                         0.0
RelationshipSatisfaction                  0.0
StandardHours                             0.0
StockOptionLevel                          0.0
TotalWorkingYears                         0.0
TrainingTimesLastYear                     0.0
WorkLifeBalance                           0.0
YearsAtCompany                            0.0
YearsInCurrentRole                        0.0
YearsSinceLastPromotion                   0.0
YearsWithCurrManager                      0.0

### Incosistent Value

In [28]:
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0.0,0.0,2.0,3,0,0.0,0.0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0.0,0.0,2.0,3,0,0.0,0.0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0.0,0.0,3.0,3,0,0.0,0.0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0.0,0.0,2.0,3,0,0.0,0.0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0.0,0.0,0.5,3,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0.0,28.5,4.5,1,18,8.0,7.5,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0.0,22.0,4.5,4,18,13.0,7.5,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0.0,10.0,1.0,3,2,2.0,2.0,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1.0,12.0,3.0,3,11,7.0,1.0,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1.0,19.0,2.0,4,1,0.0,0.0,0.0

disini ada indikasi data pada kolom TrainingTimesLastYear karna kemungkinan tidak wajar jika jumlah pelatihan dalam setahun seharusnya berupa bilangan bulat

In [ ]:
df["TrainingTimesLastYear"] = df["TrainingTimesLastYear"].round().astype(int)

ada inkonsistensi juga pada kolom YearsSinceLastPromotion dengan adanya angka 7,5 sedangkan angka yang lain adalah bilangan bulat jadi seharusnya

In [ ]:
df["YearsSinceLastPromotion"] = df["YearsSinceLastPromotion"].round(0).astype(int)

In [51]:
df.loc[(df["YearsAtCompany"] > 0) & (df["YearsInCurrentRole"] == 0), "YearsInCurrentRole"] = 1

In [52]:
df.loc[df["YearsWithCurrManager"] > df["YearsAtCompany"], "YearsWithCurrManager"] = df["YearsAtCompany"]

In [53]:
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0.0,0.0,2,3,0,0.0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0.0,0.0,2,3,0,0.0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0.0,0.0,3,3,0,0.0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0.0,0.0,2,3,0,0.0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0.0,0.0,0,3,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0.0,28.5,4,1,18,8.0,8,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0.0,22.0,4,4,18,13.0,8,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0.0,10.0,1,3,2,2.0,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1.0,12.0,3,3,11,7.0,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1.0,19.0,2,4,1,1.0,0,0.0

### Construct Data

disini saya menambahkan kolom PromotionGap dan ManagerStability

In [ ]:
df["PromotionGap"] = df["YearsAtCompany"] - df["YearsSinceLastPromotion"]

df["ManagerStability"] = df["YearsWithCurrManager"] / df["YearsAtCompany"] >= 0.5

In [56]:
print(df.head())

   EmpID  Age AgeGroup Attrition     BusinessTravel  DailyRate  \
0  RM297   18    18-25       Yes      Travel_Rarely        230
1  RM302   18    18-25        No      Travel_Rarely        812
2  RM458   18    18-25       Yes  Travel_Frequently       1306
3  RM728   18    18-25        No         Non-Travel        287
4  RM829   18    18-25       Yes         Non-Travel        247

               Department  DistanceFromHome  Education EducationField  ...  \
0  Research & Development                 3          3  Life Sciences  ...
1                   Sales                10          3        Medical  ...
2                   Sales                 5          3      Marketing  ...
3  Research & Development                 5          2  Life Sciences  ...
4  Research & Development                 8          1        Medical  ...

   StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0               0.0                0.0                      2               3
1               0.0                0.0                      2               3
2               0.0                0.0                      3               3
3               0.0                0.0                      2               3
4               0.0                0.0                      0               3

   YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0               0                 0.0                        0
1               0                 0.0                        0
2               0                 0.0                        0
3               0                 0.0                        0
4               0                 0.0                        0

  YearsWithCurrManager  PromotionGap ManagerStability
0                  0.0             0            False
1                  0.0             0            False
2                  0.0             0            False
3                  0.0             0            False
4                  0.0             0            False

[5 rows x 40 columns]

## Data Reduction

In [57]:
df = df.drop(columns=["YearsSinceLastPromotion", "YearsWithCurrManager","WorkLifeBalance"])

In [58]:
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,PromotionGap,ManagerStability
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,3,80,0.0,0.0,2,0,0.0,0,False
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,3,1,80,0.0,0.0,2,0,0.0,0,False
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,3,4,80,0.0,0.0,3,0,0.0,0,False
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,3,4,80,0.0,0.0,2,0,0.0,0,False
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,3,4,80,0.0,0.0,0,0,0.0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,3,4,80,0.0,28.5,4,18,8.0,10,True
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,3,4,80,0.0,22.0,4,18,13.0,10,True
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,3,4,80,0.0,10.0,1,2,2.0,0,True
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,3,2,80,1.0,12.0,3,11,7.0,10,True
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,3,80,1.0,19.0,2,1,1.0,1,False